<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/easyEcommApp"></property>
        <property name="username" value="root" /></property>
        <property name="password" value="root" /></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="cusDao" class="com.cs301p.easy_ecomm.daoClasses.CustomerDAO">
        <property name="dataSource" ref="dataSource"></property>
        <property name="platformTransactionManager" ref="transactionManager"></property>
    </bean>

    <bean id="selDao" class="com.cs301p.easy_ecomm.daoClasses.SellerDAO">
        <property name="dataSource" ref="dataSource"></property>
        <property name="platformTransactionManager" ref="transactionManager"></property>
    </bean>

    <bean id="proDao" class="com.cs301p.easy_ecomm.daoClasses.ProductDAO">
        <property name="dataSource" ref="dataSource"></property>
        <property name="platformTransactionManager" ref="transactionManager"></property>
    </bean>

    <bean id="admDao" class="com.cs301p.easy_ecomm.daoClasses.AdminDAO">
        <property name="dataSource" ref="dataSource"></property>
        <property name="platformTransactionManager" ref="transactionManager"></property>
    </bean>

    <bean id="carDao" class="com.cs301p.easy_ecomm.daoClasses.CartItemDAO">
        <property name="dataSource" ref="dataSource"></property>
        <property name="platformTransactionManager" ref="transactionManager"></property>
    </bean>

    <bean id="revDao" class="com.cs301p.easy_ecomm.daoClasses.ReviewDAO">
        <property name="dataSource" ref="dataSource"></property>
        <property name="platformTransactionManager" ref="transactionManager"></property>
    </bean>

    <bean id="traDao" class="com.cs301p.easy_ecomm.daoClasses.TransactionDAO">
        <property name="dataSource" ref="dataSource"></property>
        <property name="platformTransactionManager" ref="transactionManager"></property>
    </bean>

    <bean id="walDao" class="com.cs301p.easy_ecomm.daoClasses.WalletDAO">
        <property name="dataSource" ref="dataSource"></property>
        <property name="platformTransactionManager" ref="transactionManager"></property>
    </bean>

</beans>
